
 /* --------- PALETTE --------- */

.palette {
  color: #ffffff;
  color: #aed9e5;
  color: #7eb6ce;
  color: #6296bc;
  color: #2d5684;
  color: #19305e;
  color: #ffd8c2;
  color: #ffc2a4;
  color: #ffa471;
}



/* --------- GENERAL --------- */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Arimo";
  src: url("./assets/Arimo/Arimo-Regular.ttf"),
       url("./assets/Arimo/Arimo-Bold.ttf");
   font-display: optional;
}

:root {
  --content-width: 100%;
  --main-bg-color: #dddee0;
}

body {
  margin: 0;
  width: 100%;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arimo, sans-serif;
  direction: rtl;
}

/* --------- SPLASH SCREEN --------- */

.splash {
  z-index: 2;
  width: 100%;
  height: 100vh;
  /* background-color: #fff8; */
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms cubic-bezier(0.50, -0.500, 0.5, 1);
}

.splash svg {
  height: 60%;
}

.splash.hidden {
  transform: translateY(-150%);
}

.logo.hidden {
  transform: translateY(-110%) rotateZ(360deg);
}

/* --------- NAVIGATION BAR --------- */

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-top: 0.5em; */
  z-index: 1;
  /* background-color: white; */
}

nav ul {
  list-style: none;
  width: 100%;
  height: 3.8em;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border-radius: 1em; */
  /* line-height: 1.5em; */
  color: white;
  font-size: 1.4em;
  text-shadow: 0px 1px 1px black;
}

nav ul li {
  padding: 1.2em 2em;
}


nav ul li {
  cursor: pointer;
  transition: 200ms all;
  min-width: 5em;
  border-radius: 0px 0px 15px 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  /* color: black; */
}


nav ul li a:visited {
  color: white;
  /* color: #0009; */
}

nav ul li:not(.logo-wrapper) {
  background-color: #19305e33;
}

nav ul li:not(.logo-wrapper):hover {
  /* transform: scale(1.08); */
  /* font-weight: 600; */
  background-color: #19305e55;
}

.logo {
  height: 100px;
  position: relative;
  top: -20px;
  background-color: white;
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  padding: 7px;
  transition: 400ms all ease-in-out;
}

/* --------- SLIDER --------- */

aside.slider {
  position: fixed;
  /* right: 20px; */
  bottom: 20px;
  z-index: 1;
  width: 100%;
}

aside.slider.hidden {
  opacity: 0;
}

aside.slider ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

aside.slider ul li {
  cursor: pointer;
  padding: 10px 5px;
}

aside.slider ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  width: min-content;
}

aside.slider ul li img {
  width: 70px;
  height: 70px;
  transition: 300ms all ease-in-out;
}

aside.slider ul:hover li:not(.active) {
  filter: opacity(.5);
}

aside.slider ul li:not(.active) {
  filter: opacity(.5);
}

aside.slider ul:hover li:hover {
  filter: opacity(1);
}

/* --------- HEADER --------- */

header {
  /* padding-top: 4em; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header .bg-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  animation: fade-in-out 16s infinite ease-in-out;
}

header .bg-wrapper.triplets{
  background-image: url('./assets/images/interactive-walls-panorama-2048.jpg');
}

header .bg-wrapper.purple{
  background-image: url('./assets/images/wall-projection-crowd.jpg');
  animation-delay: 8s;
}

@keyframes fade-in-out {
  0% {opacity: 0%}
  40% {opacity: 0%}
  50% {opacity: 100%}
  90% {opacity: 100%}
  100% {opacity: 0%}
}

header .text-wrapper {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: white;
}

/* header span.down-arrow {
  color: white;
  font-size: 7em;
  cursor: pointer;
  padding: 10px;
}

header span.down-arrow:hover {
  animation: hop 4s infinite ease-in-out;
}

@keyframes hop {
  0%  {transform: translateY(0);    }
  8%  {transform: translateY(-10px);}
  16% {transform: translateY(0);    }
  24% {transform: translateY(-10px);}
  32% {transform: translateY(0);    }
  40% {transform: translateY(0);    }
  48% {transform: translateY(-10px);}
  54% {transform: translateY(0);    }
  66% {transform: translateY(-10px);}
  72% {transform: translateY(0);    }
} */

/* --------- SECTIONS --------- */

main {
  width: 100%;
  /* margin-top: 4em; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  width: 100%;
  height: 100vh;
  /* border: 1px solid black; */
  /* margin: 2em 0; */
  position: relative;
  overflow: hidden;
  padding: 18px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

main section p {
  text-indent: 1em;
}

main section h1 {
  direction: ltr;
  color: white;
  font-weight: bold;
  font-size: 4em;
  text-shadow: 0px 1px 0px #0008, 1px 0px 0px #0008;
  margin: 0;
  cursor: pointer;
}

main section h2 {
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 0px #0008, 0px 0px 0px #0008;
  margin-left: 2em;
  cursor: pointer;
}

main section .bg-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 600ms all ease-in-out ;
  z-index: -1;
}

main section:hover .bg-wrapper {
  /* transform: scale(1.02); */
}

section#vr{
  justify-content: flex-start;
}

section#vr h1 {
  margin-top: 10%;
}

section#vr .bg-wrapper{
  background-image: url('./assets/images/sections/vuze icon.jpg');
  background-size: cover;
}

section#interactive .bg-wrapper{
  background-image: url('./assets/images/sections/20200616_110202.jpg');
  background-size: cover;
  background-position-y: 40%;
}

section#ar .bg-wrapper{
  background-image: url('./assets/images/sections/cAstle-Run set 1.png');
  background-size: cover;
}

section#ed-tech .bg-wrapper{
  background-image: url('./assets/images/sections/Dor-Kedmi-Bezalel-2.jpg');
  background-size: cover;
  background-position-y: 40%;
}

/* --------- CONTACT --------- */

section#contact {
  width: 100%;
  /* height: 11em; */
  background-color: #19305e;
  margin-top: 7em;
  z-index: 2;
}

#contact .content-wrapper {
  width: 100%;
  margin-top: -6em;
  text-align: center;
}

.conatct h1 {
  margin: 10px 0;
}

#contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact form input {
  padding: 7px 5px;
  margin: 8px 0;
  min-width: 500px;
  font-size: 1.3em;
  border-radius: 5px;
}

#contact form textarea {
  padding: 5px;
  margin: 7px 0;
  min-width: 500px;
  font-size: 1.3em;
  min-height: 6em;
  font-family: Arimo, sans-serif;
  resize: none;
  border-radius: 5px;
}

#contact form button {
  padding: 5px;
  margin: -20px 0 15px 0;
  min-width: 100px;
  font-size: 1.3em;
  cursor: pointer;
}

#contact .social {
  margin-top: 10px;
  width: 100%;
}

#contact .social ul {
  list-style: none;
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-left: 40px;
}

#contact .social ul li {
  cursor: pointer;
  transition: 200ms all ease-in-out;
}

#contact .social ul li:hover {
  filter: brightness(80%);
}

#contact .social ul li img {
  height: 50px;
  width: auto;
}

/* --------- FOOTER --------- */

footer {
  width: 100%;
  height: 70px;
  background-color: #19305e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

footer p {
  color: #fff8;
  font-size: 1.1em;
}
